<table class="table  table-bordered">
    <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Month</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody >
        <ng-container *ngFor="let table of table1;let i=index">
        <tr *ngIf="table1[i].year==filteredYear || table1[i].month==filteredMonth" >
            <td>{{table.year}}</td> 
            <td>{{table.month}}</td>
            <td>{{table.price}}</td>
        </tr>
    </ng-container>
    </tbody>
</table>